{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contacts{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<body>
    <div style="display: flex;">
        
    
    {% for d in Contact_show %}
			<div class="col-md-4 col-lg-3 col-sm-6 text-center">
				<div class = "card" id="buy-cards">
					<div class="card-body">
						
                        <h5 class="card-title text-center" id="title-book">{{d.name}}</h5>
                        <h5 class="card-title text-center" id="title-book">{{d.emailid}}</h5>
                        <h5 class="card-title text-center" id="title-book">{{d.messages}}</h5>
                        

						</div>

				</div>
			</div>
            {% endfor %}
        </div>
</body>
{% endblock %}