{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Book My Turf</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">	
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href=" {% static 'turf/bootstrap.min.css'%}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{% static 'turf/style.css'%}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'turf/responsive.css'%}">

   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

   </head>
   <body>
      {% block navbar %}
         <!-- Navbar Code -->
      {% endblock %}
      <!-- Main code -->
        {% block content %}
        {% endblock %}

      {% block footer %}
      {% endblock %}
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>


      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
    
</html>