{% extends "./base.html" %}
{% block navbar %}

	  
<nav class="navbar navbar-expand-lg navbar-mainbg" id='navnav'>
  <a class="navbar-brand navbar-logo">TPO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <img src="/media/hamburger.png" alt="">
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li class="nav-item active">
              <a class="nav-link" href="/">Dashboard</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="/admin/login"></i>Admin login</a>
          </li>
         
          <li class="nav-item ">
            <a class="nav-link" href="/contact">Contact Us</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Student Login</a>
          </li>
      </ul>
  </div>
</nav>
 

{% endblock %}