{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Find Turfs{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<div class="">
    <div class="aesthetic-back-cover">
        <div>
            <div class="filter-form">
                <form method="GET" class="grid-attempt">
                    {{myFilter.form}}
                    <button class="btn btn-dark mt-2" type="submit">Search</button>
                </form>
            </div>
    
        </div>
        <div class="container-fluid" style="display: flex;">
            <div class="row">
            {% for d in display %} 
                <div class="col">
                    <div class = "card shadow" id="buy-cards">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ d.image.url}}" style="height: 150px; width: 250px;">
                            
                            <div style="font-size: 1.25rem;color: #000000;font-weight: 600;" >
                                {{d.name}}
                                <span style="font-size: 0.8rem;color: #636363;padding-left: 5px;" >Owned by {{d.owner}}</span>
                            </div>
                            <div style="font-size: 0.8rem;color: #636363;" >Mon-Fri <span class="pl-2">{{d.weekdays_turf_opening_time}}-{{d.weekdays_turf_closing_time}}</span></div>
                            <div style="font-size: 0.8rem;color: #636363;" >Sat-Sun <span class="pl-2">{{d.weekends_turf_opening_time}}-{{d.weekends_turf_closing_time}}</span></div>
                            
                            <div style="display: flex; height: auto;font-size: 1rem;padding: 5px 0;">
                                <i class="fa fa-map-marker-alt"></i>
                                {{d.address}}
                            </div>
                            
                            <h5 style="font-size: 1rem;padding: 5px 0;">Upcoming Events : 
                                {% if d.events != "none" %}
                                    <div class="badge badge-success float-right">{{d.events}}</div>
                                {% else %}
                                    <div class="badge badge-danger float-right">No offers</div>
                                {% endif %}
                            </h5>
                            <h5 style="font-size: 1rem;padding: 5px 0;">Number of turfs : <div class="badge badge-secondary float-right">{{d.num_5v5_turfs}}</div></h5>
                            <h5 style="font-size: 1rem;padding: 5px 0;">Weekdays : <div class="badge badge-secondary badgez float-right">₹ {{d.price_per_hour_5v5_weekdays}}</div></h5>
                            <h5 style="font-size: 1rem;padding: 5px 0;">Weekends : <div class="badge badge-secondary badgez float-right">₹ {{d.price_per_hour_5v5_weekends}}</div></h5>
                            <h5 style="padding: 5px 0;display: inline-block;">
                                {% if d.has_refreshments %}
                                <div class="badge badge-success badgez"><div class="fa fa-check-circle"></div> Refreshments</div></h5>
                                {% else %}
                                <div class="badge badge-danger badgez"><div class="fa fa-times"></div> Refreshments</div></h5>
                                {% endif %}
                                {% if d.has_first_aid %}
                                <div class="badge badge-success badgez"><div class="fa fa-check-circle"></div> First Aid</div></h5>
                                {% else %}
                                <div class="badge badge-danger badgez"><div class="fa fa-times"></div> First Aid</div></h5>
                                {% endif %}
                                {% if d.has_parking %}
                                <div class="badge badge-success badgez"><div class="fa fa-check-circle"></div> Parking</div></h5>
                                {% else %}
                                <div class="badge badge-danger badgez"><div class="fa fa-times"></div> Parking</div></h5>
                                {% endif %}
                            </h5>
                            <a href="/book/?turfId={{d.turf_id}}" style="display: block;width: 100%;margin: auto;"><button style="width: 100%;" class="btn btn-primary mt-3">Book <div class="fa fa-shopping-cart"></div></button></a>
                        </div>
    
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}