{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<div class="turf-img" style="background: url('https://images.hdqwalls.com/download/grass-background-1v-2560x1440.jpg');background-size: cover;background-repeat: no-repeat;background-position-x:100;">
  <div class="container">
    <form cform method="POST" enctype="multipart/form-data" class="form-css">
      <h2 style="color: rgb(255, 255, 255);text-align: center;">Sign Up</h2>
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary justify-content-center" style="width: 50%;margin: 0 25%;">Sign Up</button>
      </form>      
  </div>
</div>

{% endblock %}