{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="main-section">
                <div class="modal-content formmain" style="text-align:center;">
                    <div class="form-input">
                        <h3 style="color: white;">ADD TURF</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}