{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}My Account{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
    {% if alert %}
        <script>alert("Turf Available !! Can Be Booked !")</script>  
    {% endif %}
    {% if alert_1 %}
        <script>alert("Slots Full !! Can't Be Booked !")</script>  
    {% endif %}
    {% if alert_2 %}
        <script>alert("Requested More Turfs than available !")</script>  
    {% endif %}
    <div class="" style="margin-top: 50px;">

    <div class="container">
            <form cform method="POST" enctype="multipart/form-data" class="grid-attempt">
                <h1 style="color: rgb(255, 255, 255);text-align: center;">BOOK TURF </h1>
                <label for="name">Turf Name : {{ turf }}</label><br>
                <label for="name">Your Username : {{ user }}</label>
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="main_bt justify-content-center bg-dark" style="width: 100%;height: 50px;font-size: 1.25rem;color: white;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;cursor: pointer;">Book</button>
            </form>
        </div>     
    </div>
        

{% endblock %}