{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<div class="aesthetic-back">
    <div class="aesthetic-back-cover">
        <div>
            <div class="filter-form">
                <form method="GET" class="grid-attempt">
                    {{myFilter.form}}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
    
        </div>
        <div style="display: flex;">
        {% for d in display %}
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <div class = "card shadow" id="buy-cards">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ d.image.url}}" style="height: 150px; width: 250px;">
                            
                            <div style="font-size: 1.25rem;color: #000000;font-weight: 600; padding: 5px 0;" >
                                {{d.name}}
                                <span style="font-size: 0.8rem;color: #636363;" >Owned by {{d.owner}}</span>
                            </div>
                            
                            <div style="display: flex; height: auto;font-size: 1rem;padding: 5px 0;">
                                <i class="fa fa-map-marker-alt"></i>
                                {{d.address}}
                            </div>
                            
                            <h5 style="font-size: 1rem;padding: 5px 0;">Upcoming Events : <div class="badge badge-success">{{d.events}}</div></h5>
                            <h5 style="font-size: 1rem;padding: 5px 0;">Number of turfs : <div class="badge badge-success">{{d.num_5v5_turfs}}</div></h5>
                            <h5 style="font-size: 1rem;padding: 5px 0;">Price per Turf : <div class="badge badge-success">{{d.price_per_hour_5v5}}</div></h5>
                            <button class="btn btn-primary mt-3">Book </button>
                        </div>
    
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}