{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}My Account{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<body>
    <div class="container-fluid">
        <div class="modal-dialog">
            <div class="main-section">
                <div class="modal-content formmain" style="text-align:center;">
                    <div class="form-input">
                        <form cform method="POST" enctype="multipart/form-data">
                            <h3 style="color: black;">MY PROFILE </h3>
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="main_bt bg-dark justify-content-center" style="width: fit-content;">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
{% endblock %}