{% extends 'registration/myaccount.html' %}
{% load crispy_forms_tags %}


{% block extended %}
    
    <div class="col-md-6 col-lg-6 col-sm-12">
        <div style="display: flex;">
            {% for d in turfs %}
                    
                        <div class = "card" id="buy-cards">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ d.image.url}}" style="height: 150px; width: 250px;">
                                
                                <div style="font-size: 1.25rem;color: #000000;font-weight: 600;" >{{d.name}}</div>
                                <div style="font-size: 1.25rem;color: #000000;font-weight: 600;" >Owner : {{d.owner}}</div>
                                <div  style="display: flex; height: auto;font-size: 0.8remrem;">
                                    <i class="fa fa-map-marker-alt"></i>
                                    {{d.address}}
                                </div>
                                
                                <h5 class="card-title" >Upcoming Events : {{d.events}}</h5>
                                <h5 class="card-title" >Number of turfs : {{d.num_5v5_turfs}} </h5>
                                <h5 class="card-title" >Price per Turf : {{d.price_per_hour_5v5}}</h5>
                                <button class="btn btn-info">Book </button>
                            </div>
        
                
                    </div>
                {% endfor %}
            </div>
            </div>

{% endblock %}