{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<body>
  <div class="container-fluid ">
      <div class="modal-dialog">
				<div class="main-section">
          
            <h2 style="text-align:center;">User SignUp</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-success btn-lg">Sign Up<span class="glyphicon glyphicon-log-in"></span></button>
            </form>
          </div>
        </div>
      </div>
  </div>
</body>
{% endblock %}