{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<body>
  
  <div class="container" style="margin-top: 50px;">
    <form cform method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="main_bt justify-content-center">Send</button>
      </form>
                  
               </div> 
</body>
{% endblock %}