{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<body>
  <div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-12 justify-content-center ">
      <div class="modal-dialog">
				<div class="main-section">
          <h2 style="text-align: center;">Upload Turf Details</h2>
            
            <form form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form| crispy }}
              <button type="submit" class="btn btn-success btn-lg pd-0">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
{% endblock %}